doctype html
html
  head
    title= 'movie'
    link(rel='stylesheet', href='/stylesheets/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/dist/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
