body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.item{
  width:500px;
  max-height:800px;
  overflow:hidden;
  float:left;
  margin:20px;
}

.panel-heading{
  white-space:nowrap;
  text-overflow:ellipsis;
  overflow:hidden;
  width:100%;
}

.desc img{
  max-width:400px !important;
  box-shadow:3px 3px 5px #000;
  border-radius:27px;
  display:block;
  margin:0 auto;
}
